* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    height: 100%;
}

/*
Classes Auxiliares
*/

.center {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2%;
}

.clear {
    clear: both;
}

/***/
.layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section.main {
    position: relative;
    background-image: url("images/bg6.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 15px 0;
    min-height: 800px;
}

section.main header {
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.icons-social {
    float: right;
}

.icons-social a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.logo {
    margin-top: 20px;
    float: left;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav.desktop {
    margin-top: 20px;
    float: right;
}

nav.desktop ul {
    
    list-style-type: none;
}

nav.desktop li {
    display: inline-block;
    margin: 0 15px;
    font-size: 17px;
    font-weight: lighter;
}

.lista-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.lista-links a:hover {
    color: rgb(56, 222, 237);
}

nav.desktop a {
    color: white;
    text-decoration: none;
}


nav.mobile {
    display: none;
}



.conteudo-header {
    position: relative;
    z-index: 2;
    margin: 40px 0;
    max-width: 100%;
    margin: 180px 0;
}

.conteudo-header h2 {
    font-size: 39px;
    font-weight: lighter;
    color: white;
}

.conteudo-header h2 > span {
    color: rgb(56, 222, 237);
}

.conteudo-header p {
    line-height: 25px;
    color: white;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 500px;
}

.conteudo-header a {

    display: block;
    width: 177px;
    height: 44px;
    background: rgb(18, 169, 189);
    color: white;
    text-align: center;
    line-height: 44px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px;
}

.frase-mapas {
    width: 100%;
    text-align: center;
    padding: 27px 2%;
    background: rgb(236, 236, 236);
}

.frase-mapas h2 {
    display: inline-block;
    border-top: 2px solid rgb(21, 120, 138);
    padding-top: 15px;
    color: rgb(21, 120, 138);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
}

.box-mapas {
    padding-bottom: 150px;
    padding-top: 50px;
}

.box-mapas > .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os boxes caso não ocupem toda a largura */
}

.box-mapas-single {
    width: 33.3%;
    padding: 0 30px;
    box-sizing: border-box; /* Garante que o padding não adicione largura ao elemento */
}

.box-mapas-wraper {
    position: relative; /* Permite que o iframe se ajuste ao tamanho deste container */
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #ccc;
    padding-bottom: 56.25%; /* Proporção para manter um aspecto de 16:9 */
    height: 0; /* Permite o uso do padding para definir a altura */
}

.box-mapas-single h2 {
    background: rgb(18, 169, 189);
    color: white;
    text-align: center;
    padding: 3px;
    font-weight: lighter;
    margin-bottom: 20px; /* Espaço entre o título e o mapa */
}

.mapinha iframe {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}


section.parallax {
    position: relative;
    width: 100%;
    padding: 40px 0;
    min-height: 300px;
    background-image: url("images/bg7.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section.parallax > .center {
    position: relative;
    z-index: 2;
    margin: 40px auto;
    max-width: 100%;
    text-align: center;
    line-height: 25px;
}

section.parallax h2 {
    font-size: 30px;
    line-break: auto;
    line-height: 40px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

section.parallax p {
    line-height: 25px;
    color: white;
    margin-top: 15px;
}

.overlay-parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 20, 10, 0.6);
}

section.final-section {
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem conforme o tamanho da tela */
}

.w50contato, .w50noticia {
    background-color: #ffffff00;
    margin: 15px;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.w50contato, .w50noticia {
    flex: 1;
    min-width: 10%; 
    max-width: 35%; 
}

.w50contato h2, .w50noticia h2 {
    font-size: 30px;
    font-weight: lighter;
    color: #12a9bd;
    margin-bottom: 20px;
}

.w50contato p, .w50noticia p {
    font-size: 16px;
    line-height: 25px;
    color: #777;
    margin-bottom: 20px;
}

input[type="text"], textarea, select, input[type="email"] { /* Adicionado input[type="email"] para estilizar igualmente */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Ajusta a largura para levar em conta o padding e border */
}

input[type="submit"] {
    background-color: #12a9bd;
    color: white;
    padding: 5px 100px;
    border: none;
    cursor: pointer;
    width: auto; /* Permite que o botão ajuste seu tamanho ao conteúdo */
    display: block; /* Faz o botão se alinhar ao centro */
    margin: 0 auto; /* Centraliza o botão */
}

/* Melhora a responsividade */
@media screen and (max-width: 768px) {
    section.final-section {
        flex-direction: column; /* Empilha os boxes verticalmente em telas menores */
    }

    .w50contato, .w50noticia {
        max-width: 90%; /* Permite que os boxes ocupem mais espaço em telas menores */
    }
}

